In [2]:
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import time
import pandas as pd
import seaborn as sns
import numpy as np
from bs4.element import NavigableString, Tag

%matplotlib inline

country = 'South Africa'

def getData():
    global df
    
    url = 'https://www.worldometers.info/coronavirus/'
    r = requests.get(url)

    soup = BeautifulSoup(r.content,"html.parser")

    table = soup.find("table",{"id": "main_table_countries_today"})

    row = []

    for element in table.find('tbody').find_all('tr'):
            row.append(element.get_text().split('\n'))
            
    country = [element[1] for element in row]
    totalCases = [element[2] for element in row]
    newCases = [element[3] for element in row]
    totalDeaths = ["".join(str(element[4]).split()) for element in row]
    newDeaths = [element[5] for element in row]
    totalRecovered = [element[6] for element in row]
    activeCases = [element[7] for element in row]
    critical = [element[8] for element in row]
    totperM = [element[9] for element in row]

    df = pd.DataFrame(index=country)
    df.index.name = 'Country'
    df['Total Cases'] = totalCases
    df['New Cases'] = newCases
    df['Total Deaths'] = totalDeaths
    df['New Deaths'] = newDeaths
    df['Total Recovered'] = totalRecovered
    df['Active Cases'] = activeCases
    df['Serious/Critical'] = critical
    df['Total cases per million'] = totperM
    df['Total Cases'] = df['Total Cases'].apply(lambda x: float(str(x).replace(',','')))
    display(df)

getData()
# df.reset_index().plot('Country', 'Total Cases', kind='bar')

def filterCountry(country):
    return df.loc[country]

display(filterCountry(country))
print(df['Total Cases'].sum())

,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious/Critical,Total cases per million
Country,,,,,,,,
China,80928.0,+34,"3,245",+8,"70,420","7,263","2,274",56
Italy,35713.0,,"2,978",,"4,025","28,710","2,257",591
Iran,18407.0,"+1,046","1,284",+149,"5,710","11,413",,219
Spain,17147.0,"+2,378",767,+129,"1,107","15,273",800,367
Germany,13632.0,"+1,305",33,+5,113,"13,486",2,163
...,...,...,...,...,...,...,...,...
Sint Maarten,1.0,,,,,1,,23
Somalia,1.0,,,,,1,,0.06
Suriname,1.0,,,,,1,,2
Eswatini,1.0,,,,,1,,0.9
Togo,1.0,,,,,1,,0.1

Total Cases                150
New Cases                  +34
Total Deaths
New Deaths
Total Recovered
Active Cases               150
Serious/Critical
Total cases per million      3
Name: South Africa, dtype: object

226525.0